@font-face {
	font-family: "Helvetica";
	src: url("./fonts/helvetica_regular.otf") format("otf");
}
body {
	width: 300px;
	height: 400px;
	background-color: #1b1b1b;
	color: #fff;
	font-family: "Helvetica";
	font-weight: 600;
	border: 1px solid white;
	text-align: center;
}
li {
	list-style-type: none;
}
ul {
	padding-left: 10px;
}
.coub-enhancer {
	margin: 0;
	padding: 4px;
	text-align: center;
	background-color: #0332ff;
}
.link-to-coub {
	text-decoration: none;
	color: #fff;
}
select {
	font-family: Helvetica;
	font-weight: 600;
	color: #fff;
	background-color: #2f2f2f;
	border-radius: 4px;
	margin: 4px;
}
select option {
	font-family: Helvetica;
	font-weight: 600;
	text-align: center;
}

#dislike  {
	vertical-align: middle;
	margin: 4px;
}
#turn-sound {
	vertical-align: middle;
	margin: 4px;
} 
#centering {
	vertical-align: middle;
	margin: 4px;
}
#old-icons {
	vertical-align: middle;
	margin: 4px;
}
#right-menu {
	vertical-align: middle;
	margin: 4px;
}
input[type="checkbox"] {
	position: relative;
	width: 40px;
	height: 20px;
	-webkit-appearance: none;
	outline: none;
	background: #c6c6c6;
	border-radius: 20px;
	transition: .2s;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
input:checked[type="checkbox"] {
	background: #2289ff;
}
input[type="checkbox"]:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: 0;
	left: 0;
	background: #fff;
	transition: .2s;
	transform: scale(0.8);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

input:checked[type="checkbox"]:before {
	left: 20px;
}